body {
  background-color: #fdfdfd;
  color: #333;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}

h1.title {
  margin-bottom: 0;
}

h2.tagline {
  font-family: 'Inconsolata', monospace;
  letter-spacing: .75px;
  margin-top: 8px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  letter-spacing: .75px;
}

a {
  border-bottom: 3px solid  powderblue;
  color: #333;
  text-decoration: none;
}

a:hover, a:focus {
  background-color: powderblue;
  border-top: 2px solid  powderblue;
  text-decoration: none;
}

header, main {
  margin: 0 auto;
  max-width: 720px;
  width: 90%;
}

header {
  border-bottom: 1px dotted #999;
}

main {
  margin-top: 48px;
}

h2 {
  margin-top: 48px;
}

p {
  letter-spacing: .75px;
  line-height: 1.45em;
  /*text-align: justify;*/
}

section {
  border-bottom: 1px dotted #ccc;
}
